.white {
  color: #ffffff;
}

.bluishGrey {
  color: #02b6d4;
}

.grey {
  color: #9e9e9e;
}

.reddish {
  color: #e53b6e;
}

.orangish {
  color: #fc7701;
}

/* lite versi0n XD */
.orangishLite {
  color: #f8c206;
}
