.white{
    color: #FFFFFF;
}

.bluishGrey{
    color: #02B6D4;
}

.grey{
    color: #9E9E9E
}

.reddish{
    color: #E53B6E;
}

.orangish{
    color: #FC7701;
}

/* lite versi0n XD */
.orangishLite{
    color: #F8C206;
}