.upcoming-events-heading{
    font-size: 4vw;
    margin-left: 0;
    text-align: center;
}

.upcoming-event-boxes{
    flex-direction: column;
    width: 80vw;
}

.upcoming-event-box{
    width: 85vw;
    padding: 0 10vw;
    height: 30vh;
}

.upcoming-event-topic{
    font-size: 4vw;
}

.next-session, .venue{
    font-size: 4vw;
}

.event-line{
    width: 60vw;
}

.section-heading {
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 8vmin;
}

.past-event-box{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    min-height: 70vh;
}

.past-event-box:nth-of-type(2n){
    flex-direction: column;
}

.past-event-image{
    width: 80vw;
}

.past-event-details{
    width: inherit;
    text-align: center;
}

.past-event-topic{
    margin-top: 1vh;
    font-size: 4vw;
}

.past-event-desc{
    margin-top: 1vh;
    font-size: 4vw;
}