*{
  margin: 0;
}

.events-page{
  width: 100vw;
}

.navLogo {
  width: 8vh;
  cursor: pointer;
}

.navbar {
  padding: 4vh 6vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 88vw;
/* ADDING BAVBAR BG ELEMENTS */
  transition: 0.6s;
}

.navOptionCont {
  display: flex;
  justify-content: space-between;
  width: 55vw;
  align-items: center;
}

.navOptions {
  padding: 1vh 2vh;
}

.navOptions.active {
  background: linear-gradient(90deg, #0573b3 -0.01%, #02b6d4 99.19%);
  padding: 1vh 2vh;
  border-radius: 10px;
}

.navOptions:hover {
  background-color: #FFFFFF45;
  padding: 1vh 2vh;
  border-radius: 10px;
}

.navbarBg {
  width: inherit;
  height: 16vh;
  transition: 0.6s;
}

.sticky {
  background: url("../utils/images/bg2.svg");
  position: fixed;
  top: 0;
  height: 10vh;
  padding: 1vh 6vw;
  z-index: 100000;
}

.sticky .navLogo{
  width: 7vh;
  padding: 1vh 0;
}

.upcoming-events{
  background-repeat: no-repeat;
   background-image: url(../utils/images/bg1.svg);
   background-size: cover;
}

.upcoming-events-heading{
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 0 14vw;
  font-size: 2vw;
  letter-spacing: .11rem;
}

.upcoming-event-boxes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 5vw;
}

.upcoming-event-box{
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1vh 2vw;
  width: 30vw;
  height: 42vh;
  margin: 10px;
}

.upcoming-event-topic{
  font-weight: 600;
  font-size: 1.5vw;
  letter-spacing: .25rem;
  color: #2B2C2C;
  text-transform: uppercase;
}

.event-line{
  height: 0; 
  width: 24vw; 
  border: 1px solid gray;
}

.next-session::before{
  content: "Next Session:";
  display: block;
  color: black;
}

.venue::before{
  content: "Venue:";
  display: block;
  color: black;
}

.next-session, .venue{
  font-size: 1.2vw;
  color: #525252;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.venue::before{
  content: "Venue:";
  display: block;
  color: #000000;
}

.section-heading-line {
  height: 4px;
  width: 100px;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5vmin;
  font-weight: 700;
  letter-spacing: 4px;
  white-space: nowrap;
  margin-bottom: 12vh;
}

.past-event-boxes{
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
}

.past-event-box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5vh 0;
}

.past-event-image{
  width: 25vw;
  border-radius: 30px;
  max-height: 40vh;
}

.past-event-details{
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.past-event-topic{
  font-weight: 600;
  font-size: 1.6vw;
  letter-spacing: .25rem;
  color: black;
}

.past-event-desc{
  font-weight: 500;
  color: #272727;
}

.past-event-box:nth-of-type(2n){
  flex-direction: row-reverse;
}