body {
  --row-size: 5;
  --navLogo-load-time: 300ms;
  --navLogo-load-delay: 200ms;
  --navbar-load-time: 300ms;
  --navbar-load-delay: 200ms;
  --navOptions-load-time: 500ms;
  --navOptions-load-delay: calc(var(--navbar-load-time) + var(--navbar-load-delay));
}
.homepage {
  width: 100vw;
}

.navLogo {
  width: 8vh;
  cursor: pointer;
}

.navbar {
  padding: 4vh 6vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 88vw;
}
.navOptionCont {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  align-items: center;
}
.navOptions {
  padding: 1vh 2vh;
  border-radius: 10px;

}
.navOptions:hover {
  background-color: #FFFFFF45;
}
.navOptions:active {
  background: linear-gradient(90deg, #0573b3 -0.01%, #02b6d4 99.19%);
}


.sticky {
  position: fixed;
  top: 0;
  background-color: #272727;
  padding: 2vh 6vw;

}

.heroCont {
  background-repeat: no-repeat;
  background-image: url(../utils/images/bg1.svg);
  background-size: cover;
  width: inherit;
  height: 110vh;
}
.heroHeader {
  height: 32vh;
}
.heroSection {
  display: flex;
  flex-direction: row;
}
.heroText {
  margin: 6vh 6vw;
  font-weight: 700;
  width: 38vw;
}
.heroImg {
  width: 50%;
  padding-right: 4vw;
}

.section-heading-line {
  height: 4px;
  width: 100px;
}
.section-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5vmin;
  font-weight: 700;
  letter-spacing: 4px;
  white-space: nowrap;
  margin-bottom: 12vmin;
}
.section-header-txt {
  font-size: 4vmin;
  font-weight: 800;
  text-align: left;
}
.section-header-txt-team {
  font-size: 4vmin;
  font-weight: 800;
  text-align: center;
}
.about-spacer {
  height: 12vh;
}
.about {
  display: grid;
  margin: 0 3vmax;
  align-items: center;
  grid-gap: 4vw;
  grid-template-columns: 1fr 1fr;
}
.about-content {
  font-size: 2.5vmin;
  font-weight: 500;
}
.about > * {
  width: 45vw;
}
.about > img {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.showcase-spacer {
  height: 18vh;
}
.showcase {
  margin: 0 3vmax;
}
.showcaseCont {
  display: grid;
  grid-template-areas:
    "3fr 7fr"
    "3fr 7fr";
  grid-gap: 20vh 3vw;
  margin: 0 3vmax;
}
.showcase-image {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.showcase-image {
  width: 52vw;
  border-radius: 0.5rem;
  background-position: center;
  background-size: cover;
}
.showcase-buttons {
  border-radius: 0.5rem;
  background-color: #e43b6e;
}
.showcase-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vmin;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.showcase-button > div {
  font-size: 1.25em;
  font-weight: 500;
}

.teamCont {
  background-repeat: no-repeat;
  background-image: url(../utils/images/bg2.svg);
  background-size: cover;
  width: inherit;
}
.team-top-spacer {
  height: 10vh;
}
.team-middle-spacer,
.team-bottom-spacer {
  height: 16vh;
}

.OBS {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  padding-top: 4vh;
}

.imgBg {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgBg--large {
  width: 24vmax;
  height: 24vmax;
}
.imgBg--small {
  width: 15vmax;
  height: 15vmax;
}

.roundImg {
  border-radius: 50%;
}
.img--large {
  width: 16vmax;
  height: 16vmax;
  object-fit: cover;
}
.img--small {
  width: 10vmax;
  height: 10vmax;
  object-fit: cover;
}

.popup-btn {
  cursor: help;
}
.popup-container {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.685);
  z-index: 9998;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.popup-container.active {
  opacity: 1;
  pointer-events: all;
}
body.no-scroll {
  overflow-y: hidden;
}
.description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: fit-content;
  background-color: #272727;
  padding: 3rem;
  border-radius: 10px;
}
.description-txt {
  width: 35vw;
  text-align: left;
}
.close-me {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3em !important;
}

.social {
  padding-top: 2vh;
  display: flex;
  gap: 10px;
}

.social div {
  padding: 10px;
  width: 2vh;
  height: 2vh;
  background-color: #02b6d4;
  text-align: center;
  border-radius: 1vh;
  font-size: 100%;
}
.CCRow {
  display: flex;
  justify-items: center;
  justify-content: center;
  padding-top: 4vh;
  margin: auto;
}

.tile {
  margin: 2%;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 900px) {
  body {
    --row-size: 3;
  }
  .heroCont {
    height: 100vh;
  }
  .heroHeader {
    height: 20vh;
  }
  .heroSection {
    flex-direction: column;
    align-items: center;
  }
  .heroText {
    margin: 0 0 6vh 0;
    width: 80%;
    text-align: center;
  }
  .heroText div {
    margin: auto;
  }
  .heroImg {
    width: 80%;
    padding: 0;
  }

  .section-heading {
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 8vmin;
  }
  .about-spacer,
  .showcase-spacer {
    height: 6vh;
  }

  .about {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .about > * {
    width: 75vw;
  }

  .showcase {
    margin: 0;
  }
  .showcaseCont {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 2.5vh;
    margin: 0;
  }
  .showcaseCont > * {
    width: 75vw;
  }
  .showcase-image {
    height: 70vmin;
  }
}
@media (max-width: 500px) {
  body {
    --row-size: 2;
  }
  .about > * {
    width: 80vw;
  }

  .section-heading {
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
  .showcaseCont > * {
    width: 80vw;
  }
  .showcase-button > div {
    font-size: 0.8em;
  }

  .team-top-spacer {
    height: 5vh;
  }
  .team-middle-spacer,
  .team-bottom-spacer {
    height: 8vh;
  }
  .OBS {
    flex-direction: column;
    grid-gap: 4vh;
  }
  .CCRow {
    padding: 0;
    grid-gap: 10vw;
    margin-bottom: -5%;
  }
  .description {
    flex-direction: column;
    width: 90%;
    padding: 1rem 0;
  }
  .description-txt {
    width: 90%;
    text-align: center;
  }
  .close-me {
    font-size: 2em !important;
  }
  .social {
    justify-content: center;
  }
}
.showcase-change {
  animation-name: newshowcase;
  animation-duration: 800ms;
}
@keyframes newshowcase {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
