.homepage {
  /* padding: 0 6vw; */
  width: 100vw;
}

.navLogo {
  width: 8vh;
  cursor: pointer;
}

.navbar {
  padding: 4vh 6vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 88vw;
}

.navOptionCont {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  align-items: center;
}

.navOptions.active {
  background: linear-gradient(90deg, #0573b3 -0.01%, #02b6d4 99.19%);
  padding: 1vh 2vh;
  border-radius: 10px;
}

.heroCont {
  background-repeat: no-repeat;
  background-image: url(../utils/images/bg1.svg);
  background-size: cover;
  width: inherit;
  height: 110vh;
}

.heroSection {
  display: flex;
}

.heroText {
  margin: 0 0 0 6vw;
  font-weight: 700;
}

.aboutCont {
  display: flex;
  width: inherit;
}

.teamCont {
  background-repeat: no-repeat;
  background-image: url(../utils/images/bg2.svg);
  background-size: cover;
  width: inherit;
}

.teamTxt {
  font-size: 4.8vh;
  font-weight: 800;
  text-align: center;
}

.OBS {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  padding-top: 4vh;
}

.OBImgBg {
  width: 24vw;
  height: 24vw;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.OBImg {
  border-radius: 1000px;
  width: 16vw;
  height: 16vw;
}

.popup-container {
  color: white;
  position: fixed;
  width: 100%;
  top: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.description {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: fit-content;
  background-color: #272727;
  padding: 3rem;
  border-radius: 10px;
  pointer-events: none;
}

.social {
  padding-top: 2vh;
  display: flex;
  gap: 10px;
}

.social div {
  width: 40px;
  height: 40px;
  background-color: #02b6d4;
}
.CCRow {
  display: flex;
  justify-items: center;
  justify-content: center;
  padding-top: 4vh;
  width: fit-content;
  margin: auto;
}

.tile {
  font-weight: 600;
  text-align: center;
}

.CCImgBg {
  width: 14vw;
  height: 14vw;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CCImg {
  border-radius: 50%;
  width: 9vw;
  height: 9vw;
}

.highlightsTxt {
  font-size: 5vh;
  font-weight: 800;
}

.showcaseCont {
  display: flex;
  justify-content: space-evenly;
}
