.showcase-page {
  /* padding: 0 6vw; */
  width: 100vw;
}

.navLogo {
  width: 8vh;
  cursor: pointer;
}

.navbar {
  padding: 4vh 6vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 88vw;
}

.navOptionCont {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  align-items: center;
}

.navOptions.active {
  background: linear-gradient(90deg, #0573b3 -0.01%, #02b6d4 99.19%);
  padding: 1vh 2vh;
  border-radius: 10px;
}

.navbarBg {
  background-image: url(../utils/images/bg1.svg);
  width: inherit;
  height: 16.5vh;
}

.navbarBg>.sticky {
  position: fixed;
  top: 0;
  background-color: #272727;
  padding: 2vh 6vw;

}

.hero-text {
  margin: 0 0 0 6vw;
  font-weight: 700;
}

.showcase-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  font-weight: 700;
  letter-spacing: 4px;
  color: #8888ff;
}

.showcase-header-line {
  /* The - in "-- SHOWCASE --" */
  height: 4px;
  width: min(16vw, 100px);
  background-color: #8888ff;
}

.showcase-header-text {
  /* The Text between the two lines */
  width: max(16vw, 200px);
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.showcaseContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* .project{
	float: left;
	flex: 33%;
	padding: 0px 15px ;
} */

.projectRow {
  /* margin: 0 -5px; */
  padding: 35px;
  display: flex;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 2vh;
  text-align: center;
  background-color: #212121;
  color: #ffffff;
  border-radius: 25px;
  /* height: 90vh; */
  min-height: 70vh;
  max-height: 90vh;
  width: min(600px, 100%);
}

.projectName {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 55px;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.projectImg {
  width: 100%;
  border-radius: 19px;
}

.projectDesc {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  padding: 0px 20px;
}
